<h1 mat-dialog-title class="text-center"><b>Politica de Cookies și Confidențialitate</b></h1>
<div mat-dialog-content class="dialog-content">
  <p>Acest site folosește cookies pentru a vă asigura cea mai bună experiență pe site-ul nostru. Puteți afla mai multe despre modul în care utilizăm cookies și cum gestionăm datele personale în <a href="/politica-de-confidentialitate" target="_blank" class="link">Politica noastră de Confidențialitate</a>.</p>
</div>
<div mat-dialog-actions class="dialog-actions text-center">
  <button mat-button class="btn-reject" (click)="onReject()">Respinge</button>
  <button mat-button color="primary" class="btn-accept" (click)="onAccept()">Acceptă Cookies</button>
</div>
