<div class="container mt-4">
  <div class="d-flex justify-content-between mb-3">
    <button 
      mat-flat-button 
      color="primary"
      style="background-color: #038ED1;"
      [routerLink]="['/dashboard/profil']" 
      routerLinkActive="router-link-active"
    >
      Întoarce-te
    </button>
  </div>

  <mat-card>
    <mat-card-header>
      <mat-card-title class="mb-2">Schimbă Parola</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="changePassword()">
        <mat-form-field class="w-100">
          <mat-label>Parola veche</mat-label>
          <input 
            matInput 
            [(ngModel)]="oldPassword" 
            name="oldPassword" 
            type="password"
            required
          />
        </mat-form-field>

        <mat-form-field class="w-100 mt-3">
          <mat-label>Parola nouă</mat-label>
          <input 
            matInput 
            [(ngModel)]="newPassword" 
            name="newPassword" 
            type="password"
            required
          />
        </mat-form-field>

        <button 
          mat-flat-button 
          color="primary" 
          style="background-color: #038ED1;" 
          type="submit"
        >
          Salvează
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>