@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../../../assets/DM_Sans/static/DMSans_24pt-Medium.ttf') format('ttf'),
         url('/assets/fonts/DM-Sans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../../../assets/Inter/static/Inter_24pt-Bold.ttf') format('ttf')
}

.inter {
    font-family: 'Inter', sans-serif;
}

* {
    font-family: 'DM Sans', sans-serif;
}

a {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.371);
}

.button {
    background-color: #038ED1;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
}

.nav-link.active-link {
    color: #0392D6 !important;
}

@media screen and (max-width: 768px) {
    a {
        font-size: 14px;
    }
}

/* Initial styles for the navbar */
.navbar {
    background-color: transparent; /* Transparent background initially */
    transition: background-color 0.3s ease; /* Smooth transition for the background color */
    box-shadow: none; /* No shadow initially */
}

/* Styles for the navbar when scrolled */
.navbar.scrolled {
    background-color: #ffffff; /* White background when scrolled */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow to show depth */
}
