<div mat-dialog-content class="changePassworDialogManageUsers">
  <h1 mat-dialog-title style="margin-bottom: 30px; font-size: 20px;">Schimba parola utilizatorului</h1>

  <form [formGroup]="changePasswordForm">
    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
    </mat-form-field>
    <div *ngIf="changePasswordForm.errors?.['notSame']" class="error">
      Passwords do not match.
    </div>
  </form>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [disabled]="!changePasswordForm.valid" (click)="onChange()">Change</button>
  </div>
</div>
