<mat-form-field class="example-full-width">
    <mat-label>Nume</mat-label>
    <input matInput value={{message.name}} placeholder="Nume">
</mat-form-field>

<mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput value={{message.email}} placeholder="Email">
</mat-form-field>

<mat-form-field class="example-full-width">
    <mat-label>Text</mat-label>
    <input matInput value={{message.text}} placeholder="Content">
</mat-form-field>

<button mat-flat-button color="primary" [routerLink]="['/dashboard/mesaje']" routerLinkActive="router-link-active">Intoarce-te!</button>