<div class="container">
    <div class="header">
      <button 
        mat-flat-button 
        color="primary" 
        [routerLink]="['/dashboard/mesaje']" 
        routerLinkActive="router-link-active"
        style="background-color: #038ED1;"
      >
        Intoarce-te!
      </button>
    </div>

    <span 
            class="badge rounded-pill"
            [ngClass]="{
              'bg-success': message.newRequest,
              'bg-info': !message.newRequest
            }"
            style="font-size: 15px; color: white;"
          >
            {{ message.newRequest ? 'Necitit' : 'Citit' }}
          </span>
  
    <div class="form-container">
      <div class="row">
        <mat-form-field class="flex-item">
          <mat-label>ID</mat-label>
          <input matInput [value]="message.id" placeholder="ID" readonly>
        </mat-form-field>
  
        <mat-form-field class="flex-item">
          <mat-label>Nume</mat-label>
          <input matInput [value]="message.name" placeholder="Nume" readonly>
        </mat-form-field>
  
        <mat-form-field class="flex-item">
          <mat-label>Email</mat-label>
          <input matInput [value]="message.email" placeholder="Email" readonly>
        </mat-form-field>
      </div>
  
      <mat-form-field class="full-width">
        <mat-label>Text</mat-label>
        <textarea matInput [value]="message.text" placeholder="Content" readonly></textarea>
      </mat-form-field>
    </div>
    <div class="text-left">
      <button mat-flat-button color="primary" style="text-align: left;" (click)="markAsRead()">Marcheaza ca citit</button>
    </div>
  </div>
  