<div class="container mt-4">
    <div class="d-flex justify-content-between mb-3">
      <button 
        mat-flat-button 
        color="primary"
        [routerLink]="['/dashboard/voluntari']" 
        routerLinkActive="router-link-active"
        style="background-color: #038ED1;"
      >
        Întoarce-te
      </button>
    </div>
  
    <form (ngSubmit)="addVolunteer()">
      <mat-form-field class="w-100">
        <mat-label> Nume </mat-label>
        <input matInput [(ngModel)]="volunteer.firstname" name="firstname" />
      </mat-form-field>
  
      <mat-form-field class="w-100">
        <mat-label> Prenume </mat-label>
        <input matInput [(ngModel)]="volunteer.lastname" name="lastname" />
      </mat-form-field>
  
      <mat-form-field class="w-100">
        <mat-label> Email </mat-label>
        <input matInput [(ngModel)]="volunteer.email" name="email" />
      </mat-form-field>
  
      <mat-form-field class="w-100">
        <mat-label> Oras </mat-label>
        <input matInput [(ngModel)]="volunteer.city" name="city" />
      </mat-form-field>
  
      <mat-form-field class="w-100">
        <mat-label> Telefon </mat-label>
        <input matInput [(ngModel)]="volunteer.phone" name="phone" />
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="selectedStatus" name="status">
          <mat-option *ngFor="let status of statusList" [value]="status">
            {{ status }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field class="w-100">
        <mat-label>Data Înscrierii</mat-label>
        <input 
          matInput 
          [matDatepicker]="picker" 
          [(ngModel)]="volunteer.joined_date" 
          [ngModelOptions]="{standalone: true}" 
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
      <button 
        mat-flat-button 
        color="primary" 
        style="background-color: #038ED1;" 
        type="submit"
      >
        Salvează
      </button>
    </form>
  </div>
  