<button class="btn btn-outline-primary btn-sm mb-5" [routerLink]="['/dashboard/bloguri']" routerLinkActive="router-link-active">Revino pe pagina anterioara</button>

<div class="container my-5">
    <h2 class="text-center mb-5">Adauga Blog</h2>
  
    <form (ngSubmit)="addBlog()">
      <div class="mb-3">
        <div class="drag-file-area" id="dragFileArea" (click)="triggerFileInputClick()">
          Trage poza de coperta aici sau apasa click pentru a o incarca!
          <input type="file" id="fileInput" (change)="onFileChange($event)" style="display: none;">
        </div>
        <div *ngIf="selectedImage" class="selected-image-container">
          <img [src]="selectedImage" alt="Selected Image" class="selected-image">
          <button type="button" class="btn btn-danger btn-sm mt-2" (click)="removeSelectedImage()">Sterge poza</button>
        </div>
      </div>
  
      <div class="mb-3">
        <label for="title" class="form-label">Titlu:</label>
        <input id="title" [(ngModel)]="blog.title" name="title" class="form-control" required>
        <small id="emailHelp" class="form-text text-muted">Incearca sa folosesti un titlu cat mai atractiv si scurt.</small>
      </div>
  
      <div class="mb-3">
        <label for="summary" class="form-label">Sumar:</label>
        <input id="summary" [(ngModel)]="blog.summary" name="summary" class="form-control" required>
        <small id="emailHelp" class="form-text text-muted">Adauga o scurta descriere despre blog-ul tau! Acest sumar va fi afisat in cardul care este afisat in pagina de bloguri!.</small>
      </div>
  
      <div class="mb-3">
        <label for="content" class="form-label">Conţinut:</label>
        <angular-editor [(ngModel)]="blog.content" [config]="editorConfig" name="content" required></angular-editor>
        <small id="emailHelp" class="form-text text-muted">Foloseste cu incredere toate elementele pe care editorul le ofera.</small>
      </div>
  
      <button type="submit" class="btn btn-primary w-100">Adaugă Blog</button>
    </form>
  </div>
  