<div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <h2 class="dm">Gestionare Proiecte</h2>
        <button mat-flat-button color="primary" (click)="openAddProjectDialog()">Adaugă Proiect</button>
        <div class="table-responsive mt-4">
          <table mat-table [dataSource]="projectDataSource" class="mat-elevation-z0" matSort>
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="dm">Titlu</th>
              <td mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-container>
            <ng-container matColumnDef="content">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="dm">Conținut</th>
              <td mat-cell *matCellDef="let element">{{element.content}}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="dm">Acțiuni</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="editProject(element)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="confirmDeleteProject(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  
    <ng-template #dialogTemplate>
      <h2 class="dm" mat-dialog-title>{{isEditMode ? 'Editează' : 'Adaugă'}} Proiect</h2>
      <mat-dialog-content class="dialog-content">
        <mat-form-field appearance="fill">
          <mat-label class="dm">Titlu</mat-label>
          <input matInput [(ngModel)]="project.title">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label class="dm">Conținut</mat-label>
          <textarea matInput rows="5" [(ngModel)]="project.content"></textarea>
        </mat-form-field>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-flat-button color="warn" mat-dialog-close>Anulează</button>
        <button mat-flat-button color="primary" (click)="saveProject()">{{isEditMode ? 'Salvează' : 'Adaugă'}}</button>
      </mat-dialog-actions>
    </ng-template>
  
    <ng-template #confirmDeleteDialog let-data>
      <h2 mat-dialog-title>Confirmare Ștergere</h2>
      <mat-dialog-content>Sigur doriți să ștergeți proiectul "{{data.title}}"?</mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Anulează</button>
        <button mat-button color="warn" (click)="deleteProject(data)">Șterge</button>
      </mat-dialog-actions>
    </ng-template>
  </div>
  