<app-web-navbar></app-web-navbar>

<div class="d-flex justify-content-center align-items-center my-5">
    <div class="card" style="width: 400px;">
        <div class="card-header" style="background-color: #038ED1; color: white">
          Ecuson Digital
        </div>
        <div class="card-body">
            <div class="text-center">
                <img src="../../../assets/Cosma Ana Maria Gabriela.jpeg" class="rounded-circle" style="width: 100px; height: 100px;" />
                
                <h1 class="tinos" style="color: #2E3091"> <b><i>Cosma Ana Maria Gabriela</i></b> </h1>
                <h4 class="tinos" style="color: #2E3091;"> <i>Membru Voluntar | Aj. Instructor</i> </h4>
                <h5 class="tinos" style="color: #2E3091;"> <i>Student Medicina</i> </h5>
                <p class="tinos" style="color: #000000;"> <b><i>Nr. 22/23.05.2023</i></b> </p>
 
                <img src="../../../assets/frame (1).png" style="width: 100px; height: 100px;" />
            </div>
        </div>
        <div class="card-footer text-center" style="background-color: #038ED1; color: white">
            Asociatia Studentilor Medicilor Voluntari
        </div>
    </div>
</div>

<app-web-footer></app-web-footer>
