<app-web-navbar></app-web-navbar>

<div class="d-flex justify-content-center align-items-center my-5">
    <div class="card" style="width: 400px;">
        <div class="card-header" style="background-color: #038ED1; color: white">
          Ecuson Digital
        </div>
        <div class="card-body">
            <div class="text-center">                
                <h1 class="tinos" style="color: #2E3091"> <b><i>{{ volunteer.firstname + " " + volunteer.lastname }}</i></b> </h1>
                <h4 class="tinos" style="color: #2E3091;"> <i>{{ volunteer.department }}</i> </h4>
                <h5 class="tinos" style="color: #2E3091;"> <i>{{ volunteer.ocupation }}</i> </h5>
 
                <img src="../../../assets/frame (1).png" style="width: 100px; height: 100px;" />
            </div>
        </div>
        <div class="card-footer text-center" style="background-color: #038ED1; color: white">
            Asociatia Studentilor Medicilor Voluntari
        </div>
    </div>
</div>

<app-web-footer></app-web-footer>
