<app-web-navbar></app-web-navbar>

<div class="container mt-5 mb-5">
    <div class="text-center">
        <img src="../../../assets/logoFooter.jpg" alt="Profile Image" class="rounded-circle shadow mb-3" width="150" height="150">
        <h2 class="mb-1 fw-bold text-dark">{{ volunteer.firstname + " " + volunteer.lastname }}</h2>
        <p class="text-muted fs-5">{{ volunteer.department }} | {{ volunteer.ocupation }}</p>
    </div>

    <button class="btn btn-sm btn-primary" [routerLink]="['/ecuson-digital/', volunteer.id]" > Ecuson Digital </button>

    <div class="mt-5 p-4 border rounded-3 bg-light shadow-sm">
        <h4 class="fw-bold text-secondary">Detalii Profil</h4>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p><strong><i class="bi bi-envelope-fill"></i> Email: </strong> <span class="text-dark">{{ volunteer.email }}</span></p>
                <p><strong><i class="bi bi-person-circle"></i> Ocupație: </strong> <span class="text-dark">{{ volunteer.ocupation }}</span></p>
            </div>
            <div class="col-md-6">
                <p><strong><i class="bi bi-clock-fill"></i> Timp de activitate: </strong> <span class="text-dark">{{ volunteer.joinedDate }}</span></p>
                <p><strong><i class="bi bi-people-fill"></i> Rol: </strong> <span class="text-dark">{{ volunteer.department }}</span></p>
            </div>
        </div>
    </div>
</div>

<app-web-footer></app-web-footer>