<div mat-dialog-content class="editUserDialogManageUsers">
  <h1 mat-dialog-title style="margin-bottom: 30px; font-size: 20px;">Edit User</h1>

  <form [formGroup]="editUserForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="Membru Consiliu Directorial">Membru Consiliu Directorial</mat-option>
        <mat-option value="Membru Adunarea Generala">Membru Adunarea Generala</mat-option>
        <mat-option value="Membru de Onoare">Membru de Onoare</mat-option>
        <mat-option value="membru voluntar">membru voluntar</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [disabled]="!editUserForm.valid" (click)="onSave()">Save</button>
  </div>
</div>