<div class="container my-5">
  <h2 class="text-center mb-5">Proiecte</h2>

  <div class="d-flex justify-content-between mb-4">
    <button class="btn btn-primary" [routerLink]="['/dashboard/adauga-proiect']" routerLinkActive="router-link-active">Adaugă Proiect</button>
    <button class="btn btn-outline-primary btn-sm" (click)="refreshData()">Actualizează</button>
  </div>

  <div class="row">
    <div *ngFor="let project of paginatedProjects" class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.summary }}</p>
          <button class="btn btn-danger" (click)="confirmDelete(project.id)">Șterge</button>
          <button class="btn btn-warning" routerLink="/dashboard/editeaza-proiect/{{ project.id }}">Editează</button>
        </div>
      </div>
    </div>
  </div>

  <nav *ngIf="totalPages > 1">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="setPage(currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pages" class="page-item" [class.active]="page === currentPage">
        <a class="page-link" (click)="setPage(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="setPage(currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>

  <!-- Confirm Delete Modal -->
  <div *ngIf="showConfirmModal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmare Ștergere</h5>
          <button type="button" class="btn-close" (click)="closeConfirmModal()"></button>
        </div>
        <div class="modal-body">
          <p>Ești sigur că dorești să ștergi acest proiect?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeConfirmModal()">Anulează</button>
          <button type="button" class="btn btn-danger" (click)="deleteProject()">Șterge</button>
        </div>
      </div>
    </div>
  </div>
</div>
