<div class="container mt-4">
    <h1><strong>Voluntari</strong></h1>

    <div  class="mb-2">
        <a class="btn btn-primary btn-sm me-2 text-decoration-none" href="/dashboard/add-voluntar">Adaugă</a>
        <button class="btn btn-secondary btn-sm" (click)="refresh()"><i class="bi bi-arrow-clockwise"></i></button>
    </div>

    <!-- Afișare eroare -->
    <div *ngIf="error" class="alert alert-danger" role="alert">
        {{ error }}
    </div>

    <!-- Afișare tabel sau mesaj de listă goală -->
    <div *ngIf="!error">
        <div *ngIf="volunteers.length === 0" class="alert alert-warning" role="alert">
            Nu există voluntari în acest moment.
        </div>

        <div *ngIf="volunteers.length > 0" class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th>Nume Prenume</th>
                    <th>Email</th>
                    <th>Data Înscrierii</th>
                    <th>Departament</th>
                    <th>Acțiuni</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let volunteer of volunteers">
                    <td>{{ volunteer.firstname }} {{ volunteer.lastname }}</td>
                    <td>{{ volunteer.email }}</td>
                    <td>{{ volunteer.joinedDate | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ volunteer.department }}</td>
                    <td>
                        <div class="d-flex gap-2">
                            <button class="btn btn-danger btn-sm" (click)="deleteVolunteer(volunteer)">
                                <i class="bi bi-trash"></i> Șterge
                            </button>
                            <button class="btn btn-warning btn-sm" (click)="editVolunteer(volunteer)">
                                <i class="bi bi-pencil-square"></i> Editează
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
