.alert { 
    width: 300px;
    margin: 30px auto;
    padding: 20px;
}

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/DM-Sans-Regular.ttf') format('ttf'),
         url('/assets/fonts/DM-Sans-Regular.woff') format('woff');
}

* {
    font-family: 'DM Sans', sans-serif;
}