<div class="profile-container">
    <div class="profile-header">
      <div class="profile-info">
        <h1 class="profile-name"><b>{{ user.firstName }} {{ user.lastName }}</b></h1>
        <p class="profile-status">{{ user.status }}</p>
      </div>
    </div>
  
    <div class="profile-details">
      <h2><b>Informatii Personale</b></h2>
      <ul>
        <li><strong>Email:</strong> {{ user.email }}</li>
        <li><strong>Numar de telefon:</strong> {{ user.phoneNumber }}</li>
      </ul>
    </div>
  
    <div class="profile-faculty">
      <h2><b>Facultate</b></h2>
      <p>{{ user.faculty }}</p>
    </div>
  
    <div class="profile-actions">
      <button class="btn-half-filled btn-primary w-100" (click)="openEditProfileModal()">Editeaza Profil</button>
      <button class="btn-half-filled btn-secondary w-100" (click)="openChangePasswordModal()">Schimba Parola</button>
    </div>
    
  
    <div class="modal" *ngIf="isEditingProfile">
      <div class="modal-content">
        <span class="close" (click)="isEditingProfile = false">&times;</span>
        <h2>Edit Profile</h2>
        <form (ngSubmit)="updateProfile()">
          <div class="form-group">
            <label for="firstName">Nume:</label>
            <input id="firstName" [(ngModel)]="user.firstName" name="firstName" required>
          </div>
          <div class="form-group">
            <label for="lastName">Prenume:</label>
            <input id="lastName" [(ngModel)]="user.lastName" name="lastName" required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" [(ngModel)]="user.email" name="email" type="email" required>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Numar Telefon:</label>
            <input id="phoneNumber" [(ngModel)]="user.phoneNumber" name="phoneNumber" required>
          </div>
          <div class="form-group">
            <label for="faculty">Facultate:</label>
            <input id="faculty" [(ngModel)]="user.faculty" name="faculty" required>
          </div>
          <div class="form-buttons">
            <button type="submit" class="btn-primary">Salveaza Schimbari</button>
            <button type="button" class="btn-secondary" (click)="isEditingProfile = false">Anuleaza</button>
          </div>
        </form>
      </div>
    </div>
  
    <div class="modal" *ngIf="isChangingPassword">
      <div class="modal-content">
        <span class="close" (click)="isChangingPassword = false">&times;</span>
        <h2>Schimba Parola</h2>
        <form (ngSubmit)="changePassword()">
          <div class="form-group">
            <label for="oldPassword">Parola Veche:</label>
            <input id="oldPassword" [(ngModel)]="passwords.oldPassword" name="oldPassword" type="password" required>
          </div>
          <div class="form-group">
            <label for="newPassword">Parola Noua:</label>
            <input id="newPassword" [(ngModel)]="passwords.newPassword" name="newPassword" type="password" required>
          </div>
          <div class="form-group">
            <label for="confirmNewPassword">Confirma Parola Noua:</label>
            <input id="confirmNewPassword" [(ngModel)]="passwords.confirmNewPassword" name="confirmNewPassword" type="password" required>
          </div>
          <div class="form-buttons">
            <button type="submit" class="btn-primary">Schimba Parola</button>
            <button type="button" class="btn-secondary" (click)="isChangingPassword = false">Anuleaza</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  