/* Asigură-te că body și html ocupă toată înălțimea paginii */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Stil pentru containerul formularului */
.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 20px auto;
}
