<app-web-navbar></app-web-navbar>

<div class="container-fluid my-5">
    <div class="container">
        <div class="jumbotron text-center my-5" style="background-color: #038ED1; padding: 50px; color: white;">
            <h1 class="display-4">Sponsorizează-ne!</h1>
            <p class="lead" style="font-size: 15px;">Dă o mână de ajutor și susține-ne în misiunea de a educa tinerii despre sănătate și medicină! Împreună facem sănătatea cool!</p>
          </div>
    </div>

    <div class="container">
        <div class="card" style="border-radius: 10px; border: none;">
            <div class="card-body" style="height: 200px;">
                <h5 class="cardHeading" style="color: #038ED1"><b>Cont Bancar</b></h5>
                <p style="font-size: 14px; color: rgb(68, 68, 68)">Numele beneficiarului: Dan Pletea</p>
                <p style="font-size: 14px; color: rgb(68, 68, 68)">Numele băncii: Libra Bank</p>
                <p style="font-size: 14px; color: rgb(68, 68, 68)">Numărul contului bancar: RO61BREL0002003042990100</p>
            </div>
        </div>
    </div>
</div>

<app-web-footer></app-web-footer>
