<app-web-navbar></app-web-navbar>

<div class="container-fluid my-5">
    <div class="container">
        <div class="jumbotron text-center my-5" style="background-color: #038ED1; padding: 50px; color: white;">
            <h1 class="display-4">Donează!</h1>
            <p class="lead" style="font-size: 15px;">Dă o mână de ajutor și susține-ne în misiunea de a educa tinerii despre sănătate și medicină! Împreună facem sănătatea cool!</p>
          </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <!-- Cont Bancar Card -->
            <div class="col-md-6 mb-4">
                <div class="card" style="border: none;">
                    <div class="card-body">
                        <h5 class="card-title text-primary"><b>Cont Bancar</b></h5>
                        <p class="card-text text-muted">Numele beneficiarului: Dan Pletea</p>
                        <p class="card-text text-muted">Numele băncii: Libra Bank</p>
                        <p class="card-text text-muted">Numărul contului bancar: RO61BREL0002003042990100</p>
                    </div>
                </div>
            </div>
            <!-- Sponsorizări Card -->
            <div class="col-md-6 mb-4">
                <div class="card" style="border: none;">
                    <div class="card-body">
                        <h5 class="card-title text-primary"><b>Sponsorizări</b></h5>
                        <p class="card-text text-muted">Pentru a ne oferi o sponsorizare sau un parteneriat, vă rugăm să ne contactați la adresa de e-mail: <a href="mailto:asmv.ct@gmail.com" class="text-primary">asmv.ct&#64;gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<app-web-footer></app-web-footer>
