@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    font-family: 'DM Sans', sans-serif;
}

.jumbotron {
    background-color: #038ED1; 
    background-image: url('../../../assets/heroBg.jpg'); 
    background-size: cover;     
    background-position: center;
    color: white;
}