<app-web-navbar></app-web-navbar>

<div class="container-fluid my-5">
    <div class="container">
        <div class="jumbotron text-center my-5" style="background-color: #038ED1; padding: 50px; color: white;">
            <h1 class="display-4">Sponsorizeaza-ne!</h1>
            <p class="lead" style="font-size: 15px;">Dă o mână de ajutor și susține-ne în misiunea de a educa tinerii despre sănătate și medicină! Împreună facem sănătatea cool!</p>
          </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 mb-5">
                <div class="card" style="border-radius: 10px; border: none;">
                    <div class="card-body" style="height: 200px;">
                        <h5 class="cardHeading" style="color: #038ED1"><b>Cont Bancar</b></h5>
                        <p style="font-size: 14px; color: rgb(68, 68, 68)">Numele beneficiarului: Asociația X</p>
                        <p style="font-size: 14px; color: rgb(68, 68, 68)">Numele băncii: Banca Y</p>
                        <p style="font-size: 14px; color: rgb(68, 68, 68)">Numărul contului bancar: RO12XXXXYYYYZZZZZZZZZZ</p>
                        <p style="font-size: 14px; color: rgb(68, 68, 68)">Codul SWIFT/BIC: XXXXROBU</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12 mb-5">
                <div class="card" style="border-radius: 10px; border: none;">
                    <div class="card-body" style="height: 200px;">
                        <h5 class="cardHeading" style="color: #038ED1"><b>Revolut</b></h5>
                        <p style="font-size: 14px; color: rgb(68, 68, 68)">Numele beneficiarului: Asociația X </p>
                        <p style="font-size: 14px; color: rgb(68, 68, 68)">Numărul de telefon: +40XXXXXXXXXX</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-web-footer></app-web-footer>