<div class="container my-5">
  <h2 class="text-center mb-5">Bloguri</h2>

  <div class="d-flex justify-content-between mb-4">
    <button class="btn btn-primary" [routerLink]="['/dashboard/adauga-blog']" routerLinkActive="router-link-active">Adaugă Blog</button>
    <button class="btn btn-outline-primary btn-sm" (click)="refreshData()">Actualizează datele</button>
  </div>

  <div *ngIf="paginatedBlogs.length === 0" class="text-center">
    <p class="text-muted">Nu există bloguri</p>
  </div>

  <div *ngIf="paginatedBlogs.length > 0" class="row">
    <div class="col-md-4 col-12 mb-4" *ngFor="let blog of paginatedBlogs; let i = index">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-body">
          <h3 class="card-title text-primary"><b>{{ blog.title }}</b></h3>
          <p class="card-text" *ngIf="!blog.summary">{{ blog.summary }}</p>
          <div class="d-flex justify-content-between">
            <button class="btn btn-outline-danger btn-sm" (click)="confirmDelete(blog)">Șterge</button>
            <button class="btn btn-outline-secondary btn-sm" [routerLink]="['/dashboard/editeaza-blog', blog.id]">Editează</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <nav *ngIf="totalPages > 1 && paginatedBlogs.length > 0">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="setPage(1)">Prima</button>
      </li>
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="setPage(currentPage - 1)">Anterior</button>
      </li>
      <li *ngFor="let page of pages" [class.active]="page === currentPage" class="page-item">
        <button class="page-link" (click)="setPage(page)">{{ page }}</button>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="setPage(currentPage + 1)">Următoarea</button>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="setPage(totalPages)">Ultima</button>
      </li>
    </ul>
  </nav>

  <!-- Modal for Confirming Deletion -->
  <div *ngIf="showConfirmDeleteModal" class="modal-backdrop"></div>
  <div *ngIf="showConfirmDeleteModal" class="modal fade show" tabindex="-1" style="display: block;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmare Ștergere</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="closeConfirmModal()"></button>
        </div>
        <div class="modal-body">
          <p>Sigur doriți să ștergeți blogul <b>"{{ blogToDelete?.title }}"</b>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeConfirmModal()">Anulează</button>
          <button type="button" class="btn btn-danger" (click)="deleteBlog()">Șterge</button>
        </div>
      </div>
    </div>
  </div>
</div>
