<div class="container-fluid my-5">
    <div class="container">
      <div class="row g-4">
        <div class="col-md-4 col-12">
          <div class="card h-100 text-center shadow-lg border-primary">
            <div class="card-body">
              <h3 class="card-title text-primary"><b>Voluntari</b></h3>
              <p class="card-text display-4">{{volunteers}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card h-100 text-center shadow-lg border-success">
            <div class="card-body">
              <h3 class="card-title text-success"><b>Proiecte</b></h3>
              <p class="card-text display-4">{{projects}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card h-100 text-center shadow-lg border-info">
            <div class="card-body">
              <h3 class="card-title text-info"><b>Bloguri</b></h3>
              <p class="card-text display-4">{{blogs}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card h-100 text-center shadow-lg border-warning">
            <div class="card-body">
              <h3 class="card-title text-warning"><b>Mesaje</b></h3>
              <p class="card-text display-4">{{messages}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card h-100 text-center shadow-lg border-danger">
            <div class="card-body">
              <h3 class="card-title text-danger"><b>Cereri de Voluntariat</b></h3>
              <p class="card-text display-4">{{requests}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card h-100 text-center shadow-lg border-dark">
            <div class="card-body">
              <h3 class="card-title text-dark"><b>Utilizatori</b></h3>
              <p class="card-text display-4">{{users}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  