<div class="container mt-4">
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Voluntari</h5>
            <h2 class="card-text">{{ totalVoluntari }}</h2>
            <i class="bi bi-person-check fs-3"></i>
          </div>
        </div>
      </div>
  
      <div class="col-md-3 mb-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Proiecte</h5>
            <h2 class="card-text">{{ totalProiecte }}</h2>
            <i class="bi bi-file-earmark-post fs-3"></i>
          </div>
        </div>
      </div>
  
      <div class="col-md-3 mb-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Mesaje</h5>
            <h2 class="card-text">{{ totalMesaje }}</h2>
            <i class="bi bi-envelope fs-3"></i>
          </div>
        </div>
      </div>
  
      <div class="col-md-3 mb-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Utilizatori</h5>
            <h2 class="card-text">{{ totalUtilizatori }}</h2>
            <i class="bi bi-people fs-3"></i>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <!-- Tabele -->
      <div class="col-md-6 mb-4 d-flex">
        <div class="w-100 d-flex flex-column">
          <h5 class="mb-3">Voluntari</h5>
          <div class="table-responsive flex-grow-1 d-flex flex-column">
            <table class="table table-hover table-bordered flex-grow-1">
              <thead class="table-light">
                <tr>
                  <th>Nume</th>
                  <th>Status</th>
                  <th>Acțiune</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let voluntar of paginatedVoluntari">
                  <td>{{ voluntar.firstname + ' ' + voluntar.lastname }}</td>
                  <td>{{ voluntar.status }}</td>
                  <td><button class="btn btn-outline-primary btn-sm" [routerLink]="['/dashboard/voluntar/', voluntar.id]" routerLinkActive="router-link-active" >Editare</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <nav aria-label="Voluntari Pagination">
            <ul class="pagination pagination-sm justify-content-center">
              <li class="page-item" [class.disabled]="currentPageVoluntari === 1">
                <a class="page-link" (click)="changePageVoluntari(currentPageVoluntari - 1)">«</a>
              </li>
              <li *ngFor="let page of [].constructor(totalVoluntariPages); let i = index" class="page-item" [class.active]="i + 1 === currentPageVoluntari">
                <a class="page-link" (click)="changePageVoluntari(i + 1)">{{ i + 1 }}</a>
              </li>
              <li class="page-item" [class.disabled]="currentPageVoluntari === totalVoluntariPages">
                <a class="page-link" (click)="changePageVoluntari(currentPageVoluntari + 1)">»</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
  
      <div class="col-md-6 mb-4 d-flex">
        <div class="w-100 d-flex flex-column">
          <h5 class="mb-3">Mesaje</h5>
          <div class="table-responsive flex-grow-1 d-flex flex-column">
            <table class="table table-hover table-bordered flex-grow-1">
              <thead class="table-light">
                <tr>
                  <th>Nume</th>
                  <th>Email</th>
                  <th>Actiune</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let mesaj of paginatedMesaje">
                  <td>{{ mesaj.fullname }}</td>
                  <td>{{ mesaj.email }}</td>
                  <td><button class="btn btn-outline-primary btn-sm" [routerLink]="['/dashboard/mesaje/', mesaj.id]" routerLinkActive="router-link-active" >Vezi</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <nav aria-label="Mesaje Pagination">
            <ul class="pagination pagination-sm justify-content-center">
              <li class="page-item" [class.disabled]="currentPageMesaje === 1">
                <a class="page-link" (click)="changePageMesaje(currentPageMesaje - 1)">«</a>
              </li>
              <li *ngFor="let page of [].constructor(totalMesajePages); let i = index" class="page-item" [class.active]="i + 1 === currentPageMesaje">
                <a class="page-link" (click)="changePageMesaje(i + 1)">{{ i + 1 }}</a>
              </li>
              <li class="page-item" [class.disabled]="currentPageMesaje === totalMesajePages">
                <a class="page-link" (click)="changePageMesaje(currentPageMesaje + 1)">»</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  