@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../../../assets/DM_Sans/static/DMSans_24pt-Medium.ttf') format('truetype'),
         url('/assets/fonts/DM-Sans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal; /* Specify weight if known */
    src: url('../../../assets/Inter/static/Inter_24pt-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../../../assets/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}

* {
    font-family: 'DM Sans', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.inter {
    font-family: 'Inter', sans-serif;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Jumbotron */
.custom-jumbotron {
    background-image: url('../../../assets/heroBg.jpg');
    padding: 80px 20px;
    border-radius: 15px;
    color: #fff;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.custom-jumbotron::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top right, rgba(255,255,255,0.1), rgba(0,0,0,0) 70%);
    opacity: 0.3;
    z-index: 1;
}

.custom-jumbotron h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
    z-index: 2;
    position: relative;
}

.custom-jumbotron p {
    font-size: 1.25rem;
    font-weight: 300;
    max-width: 800px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}

/* Card Styles */
.custom-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background: #ffffff;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.card-body {
    padding: 0;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.card-description {
    font-size: 0.875rem;
    color: #666;
    margin-bottom: 20px;
}

.card-footer {
    background: #ffffff;
    border-top: 1px solid #ddd;
    padding: 10px;
}

.btn-custom {
    background-color: #038ED1;
    border: none;
    color: #fff;
    font-size: 0.9rem;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.btn-custom:hover {
    background-color: #026ab1;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Fade-in Animation */
.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.underline-container {
    position: relative;
    display: inline-block;
}

.underline-img {
    position: absolute;
    bottom: -10px; /* Adjust this value as needed to position the image */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%) translateY(50%); /* Center horizontally and adjust vertical position */
    width: 100%; /* Ensure it fits the width of the span */
    z-index: -1; /* Ensure it’s behind the text */
    color: #038ED1;
}

.spark-img {
    position: absolute;
    width: 40px;
    margin-top: -5px;
}

@media screen and (max-width: 768px) {
    .spark-img {
        width: 30px;
    }
}

.project-card {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    background: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.project-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.project-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between elements */
    height: 100%; /* Full height of the container */
}

.project-content h3 {
    font-size: 1.875rem; /* 30px */
    margin: 0;
    color: #333;
}

.project-content p {
    font-size: 1rem;
    color: #666;
    margin: 5px 0; /* Space between title and summary */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
}

.btn-custom {
    background-color: #038ED1;
    border: none;
    color: #fff;
    font-size: 0.875rem; /* Slightly smaller font size */
    padding: 8px 16px; /* Adjust padding for a smaller button */
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    align-self: center; /* Center the button horizontally */
    margin-top: auto; /* Push button to the bottom of the content */
}

.btn-custom:hover {
    background-color: #026ab1;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.col-md-5, .col-md-7 {
    padding-right: 0;
    padding-left: 0;
}
