<app-web-navbar></app-web-navbar>

    <div class="text-center hero position-relative">
        <span style="font-size: 12px;"> <b>BUN VENIT LA</b> </span>
        <h1 class="display-5 fw-bold">Asociatia Medicilor Studentilor Voluntari</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Bun venit în comunitatea noastră de viitori medici! Ne concentrăm pe educație, inovare și conexiuni în domeniul medical. Alătură-te nouă pentru a-ți dezvolta abilitățile și pentru a contribui la construirea unui viitor mai sănătos și mai strălucitor în domeniul sănătății!</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a style="font-size: 14px;" href="/haiInEchipa" type="button" class="btn btn-primary shadow-sm btn-lg px-4 gap-3 buttonHero text-white">Devino Voluntar!</a>
                <a style="font-size: 14px;" href="/proiecte" type="button" class="btn btn-primary shadow-sm btn-lg px-4 buttonHero text-white">Vezi ce am facut!</a>
            </div>
        </div>
    </div>

    <div class="container-fluid fade-in" >
        <div class="container mt-5 pt-5 my-5 py-5 px-5">
            <div class="row align-items-center"> 
                <div class="col-md-6">
                    <h2 class="section-heading display-5 mt-5 headingFirstSection"><b>Cine suntem?</b></h2>
                    <p class="lead paragraphFirstSection">Asociatia Studentilor si Medicilor Voluntari este o organizatie non-profit infiintata in 2007, la initiativa unor tineri medici si studenti care si-au propus dezvoltarea pe plan local a unui grup informativ, care sa promoveze sanatatea printre tineri si sa ajute la perfectionarea in domeniul pregatirii studentilor la medicina.</p>
                </div>
                <div class="col-md-6">
                    <img src="../../../assets/asmv2Blob.jpg" alt="hero" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid fade-in principii" style="background-color: #07AEFF; background-image: url('../../../assets/CurveLine.svg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
        <div class="container">
            <div class="text-center p-5">
                <h2 class="section-heading display-5 mt-5 headingFirstSection text-white"><b>Principii ASMV</b></h2>
                <p class="lead paragraphFirstSection text-white">Principii generale ASMV se adreseaza atat studentilor si cadrelor medicale care incearca sa faciliteze acumularea de cunostinte si experienta, cat si tinerilor din afara ariei medicale, prin campanii de informare si preventie. Alaturi de proiectele ce vizeaza sanatatea publica, ASMV sprijina actiunile de protectie a mediului si acorda suport moral si material celor in suferinta. ASMV promoveaza competenta si performanta. Prin actiunile organizate, ASMV doreste sa creasca calitatea educatiei medicale romanesti, in special a pregatirii individuale a studentului la medicina.
                    <br/> Se promovează competenta si performanta, munca în echipă, ideea de familie si de dezvoltare prin acumularea de cunostinte noi în mod constant. Prin actiunile organizate, ASMV doreste să crească calitatea educatiei medicale românesti, în special a pregatirii individuale a studentului la medicină.
                </p>
            </div>
        </div>
    </div>
    
    

    <div class="container-fluid fade-in" >
        <div class="container mt-5 pt-5 my-5 py-5 px-5">
            <div class="row align-items-center"> 
                <div class="col-md-6">
                    <img src="../../../assets/asmv1Blob.jpg" alt="hero" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h2 class="section-heading display-5 mt-5 headingFirstSection"><b>Obiective</b></h2>
                    <p class="lead paragraphFirstSection">Educaţie medicală în randul tinerilor şi perfectionarea în domeniul pregătirii profesionale a studenţilor. Acordarea de ajutoare materiale, de asistenţă şi sprijin moral persoanelor suferinde. Organizarea de manifestări ştiinţifice naţionale şi internationale, simpozioane, conferinţe, campanii informative şi alte evenimente pe teme medicale. Tiparirea de publicaţii şi materiale informative. Realizarea de proiecte ce vizeaza problemele de mediu. Colaborarea cu institutii medicale şi alte organizatii din ţara şi străinatate in vederea unor schimburi de experienţă şi a realizării scopurilor de mai sus. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" >
        <div class="container px-5 mt-5">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h1 id="testimonialsHeading" class="font-weight-bold mb-3">Asculta parerea voluntarilor actuali!</h1>
                    <p class="text-muted testimonialsParagraph" style="text-align: justify; font-family:'DM Sans', sans-serif;">
                        Opiniile membrilor activi sunt adesea o sursă valoroasă de încredere și inspirație. La ASMV, ne axăm pe părerea celor care fac parte din comunitatea noastră pentru a ne ghida în eforturile noastre de a oferi servicii de cea mai înaltă calitate. Ascultăm cu atenție feedback-ul și experiențele lor pentru a continua să ne îmbunătățim și să ne aliniem obiectivelor și valorilor noastre. Iată ce spun membrii noștri activi despre experiența lor cu ASMV.
                    </p>
                </div>
                <div class="col-md-4" *ngFor="let testimonial of testimonials">
                    <div class="card shadow" style="border-radius: 10px; border: none;">
                        <div class="card-body">
                            <i class="bi bi-quote" style="font-size: 30px; color: #038ED1;"></i>
                            <h5 class="cardHeading mt-3" style="color: #038ED1"><b>{{ testimonial.title }}</b></h5>
                            <p class="mb-4 cardDescription">{{ testimonial.description }}</p>
                            <hr />
                            <div class="d-flex align-items-center">
                                <img [src]="logo" width="30" alt="logo" class="me-2">
                                <span class="text-muted">{{ testimonial.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5 mt-5 text-white cta" style="background-color: #07AEFF; " >
        <div class="row align-items-center justify-content-center" style="padding: 0px 10%;">
          <div class="col-md-8 text-center text-md-start mb-4 mb-md-0">
            <h6 class='pop'>ASMV</h6>
            <h1 class='pop'>Aboneaza-te la<br/> Newsletter-ul nostru!</h1>
            <p>Fii mereu la curent cu noutățile din lumea medicală! Abonează-te la newsletter-ul nostru pentru a primi informații proaspete despre evenimentele viitoare, resurse educative, oportunități de voluntariat și multe altele. Nu rata șansa de a fi la zi cu tot ce se întâmplă în asociația noastră și în domeniul sănătății. Înscrie-te acum și fii parte din comunitatea noastră de viitori medici pasionați!</p>
          </div>
          <div class="col-md-4 text-center text-md-start">
            <div class="d-flex">
              <input [(ngModel)]="email" class="form-control me-2" style="height: 50px; width: 80%;" type="email" placeholder="Email">
              <button class="btn btn-light" style="font-size: 25px;" (click)="joinNewsletter()">
                <svg style="color: #038ED1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
                  </svg>
              </button>
            </div>
          </div>
        </div>
    </div>
      
    
    

<app-web-footer></app-web-footer>