<app-web-navbar></app-web-navbar>
<div class="container-fluid my-5">
    <div class="container">
        <div class="jumbotron text-center my-5 fade-in" style="background-color: #038ED1; padding: 50px; color: white;">
            <h1 class="display-4">Bloguri</h1>
            <p class="lead" style="font-size: 15px;">În secțiunea noastră de bloguri, vei găsi diferite gânduri, idei și noutăți. Noutăți atât despre lumea tech cât și despre lumea medicală!</p>
        </div>

        <div class="row">
            <div class="col-md-4 col-12 mb-4 fade-in" *ngFor="let blog of blogsList">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h3 class="card-title" style="color: #038ED1;"><b>{{ blog.title }}</b></h3>
                        <p class="card-text">{{ blog.content }}</p>
                        <button [routerLink]="['/blogs', blog.id]" class="btn text-white w-100" style="background-color: #038ED1;">Vezi blog</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-web-footer></app-web-footer>
