<div class="container mt-4">
  <div class="d-flex justify-content-between mb-3">
    <button 
      mat-flat-button 
      color="primary"
      [routerLink]="['/dashboard/voluntari']" 
      routerLinkActive="router-link-active"
      style="background-color: #038ED1;"
    >
      Întoarce-te!
    </button>
  </div>

  <mat-card>
    <mat-card-content>
      <!-- Rândul cu ID, Nume, Email -->
      <div class="row mb-3">
        <div class="col-md-4">
          <mat-form-field class="w-100">
            <mat-label>ID</mat-label>
            <input matInput [value]="volunteer.id" placeholder="ID" readonly>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="w-100">
            <mat-label>Nume</mat-label>
            <input matInput [(ngModel)]="volunteer.firstname" placeholder="Nume" [readonly]="!isEditing">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="w-100">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="volunteer.email" placeholder="Email" [readonly]="!isEditing">
          </mat-form-field>
        </div>
      </div>

      <!-- Rândul cu Facultate -->
      <div class="row mb-3">
        <div class="col-12">
          <mat-form-field class="w-100">
            <mat-label>Facultate</mat-label>
            <textarea matInput [(ngModel)]="volunteer.city" placeholder="Facultate" [readonly]="!isEditing"></textarea>
          </mat-form-field>
        </div>
      </div>

      <!-- Rândul cu Număr de Telefon -->
      <div class="row mb-3">
        <div class="col-12">
          <mat-form-field class="w-100">
            <mat-label>Număr de Telefon</mat-label>
            <textarea matInput [(ngModel)]="volunteer.phone" placeholder="Număr de Telefon" [readonly]="!isEditing"></textarea>
          </mat-form-field>
        </div>
      </div>

      <!-- Rândul cu Aderare -->
      <div class="row mb-3">
        <div class="col-12">
          <mat-form-field class="w-100">
            <mat-label>Aderare</mat-label>
            <textarea matInput [(ngModel)]="volunteer.joined_date" placeholder="Aderare" [readonly]="!isEditing"></textarea>
          </mat-form-field>
        </div>
      </div>

      <!-- Rândul cu Status -->
      <div class="row mb-3">
        <div class="col-12">
          <mat-form-field class="w-100">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="volunteer.status" [readonly]="!isEditing">
              <mat-option *ngFor="let status of statusList" [value]="status">
                {{ status }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- Buttons -->
      <div class="button-group" *ngIf="!isEditing">
        <button mat-flat-button color="primary" (click)="editVolunteer()" style="background-color: #d19a03; padding: 2px; margin-right: 5px;">
          <span class="material-symbols-outlined" style="font-size: 20px; margin-top: 2.5px">edit</span>
        </button>
        <button mat-flat-button color="primary" (click)="deleteVolunteer()" style="background-color: #d10303; padding: 2px; margin-left: 5px;">
          <span class="material-symbols-outlined" style="font-size: 20px; margin-top: 2.5px">delete</span>
        </button>
      </div>

      <div class="button-group" *ngIf="isEditing">
        <button mat-flat-button color="primary" (click)="updateVolunteer()" style="background-color: #038ED1; padding: 2px; margin-right: 5px;">
          <span class="material-symbols-outlined" style="font-size: 20px; margin-top: 2.5px">check</span>
        </button>
        <button mat-flat-button color="primary" (click)="cancelEdit()" style="background-color: #d10303; padding: 2px; margin-left: 5px;">
          <span class="material-symbols-outlined" style="font-size: 20px; margin-top: 2.5px">cancel</span>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>