@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../../../assets/DM_Sans/static/DMSans_24pt-Medium.ttf') format('ttf'),
         url('/assets/fonts/DM-Sans-Regular.woff') format('woff');
}

* {
    font-family: 'DM Sans', sans-serif;
}

.project-details {
    padding: 0px 50px;
    font-family: 'DM Sans', sans-serif;
}

.project-details h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #038ED1;
}

body, html { 
    scroll-behavior: smooth;
}

.jumbotron {
    background-color: #038ED1; 
    background-image: url('../../../assets/heroBg.jpg'); 
    background-size: cover;     
    background-position: center;
    color: white;
}