@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../../../assets/DM_Sans/static/DMSans_24pt-Medium.ttf') format('ttf'),
         url('/assets/fonts/DM-Sans-Regular.woff') format('woff');
}

* {
    font-family: 'DM Sans', sans-serif;
}


.project-details {
    padding: 0px 50px;
    font-family: 'DM Sans', sans-serif;
}

.project-details h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #038ED1;
}

body, html { 
    scroll-behavior: smooth;
}

.jumbotron {
    background-color: #038ED1; 
    background-image: url('../../../assets/heroBg.jpg');
    background-size: cover;     
    background-position: center;
    color: white;
}

.img-container {
    width: 100%;
    max-width: 800px; /* Maximum width to prevent images from becoming too large */
    height: auto; /* Auto height to adjust based on the image */
    margin: auto;
    overflow: hidden; /* Hide any overflow if the image is too large */
    display: flex;
    justify-content: center; /* Center the image horizontally */
  }
  
  
  .img-thumbnail {
    width: auto; /* Maintain original width */
    height: auto; /* Maintain original height */
    max-width: 100%; /* Ensure image fits within the container's width */
    max-height: 300px; /* Set maximum height for horizontal aspect */
    object-fit: contain; /* Fit the image within the container */
  }
  