<div class="edit-form-volunteer">
    <div class="container mt-5">
      <h1 class="mb-4">Adaugă Voluntar</h1>
  
      <form [formGroup]="volunteerForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="volunteerFirstname" class="form-label">Prenume</label>
          <input
            type="text"
            id="volunteerFirstname"
            class="form-control"
            formControlName="firstname"
            [ngClass]="{'is-invalid': volunteerForm.get('firstname')?.invalid && volunteerForm.get('firstname')?.touched}"
          />
          <div *ngIf="volunteerForm.get('firstname')?.invalid && volunteerForm.get('firstname')?.touched" class="text-danger">
            Prenumele este obligatoriu.
          </div>
        </div>
  
        <div class="mb-3">
          <label for="volunteerLastname" class="form-label">Nume</label>
          <input
            type="text"
            id="volunteerLastname"
            class="form-control"
            formControlName="lastname"
            [ngClass]="{'is-invalid': volunteerForm.get('lastname')?.invalid && volunteerForm.get('lastname')?.touched}"
          />
          <div *ngIf="volunteerForm.get('lastname')?.invalid && volunteerForm.get('lastname')?.touched" class="text-danger">
            Numele este obligatoriu.
          </div>
        </div>
  
        <div class="mb-3">
            <label for="volunteerEmail" class="form-label">Email</label>
            <input
              type="email"
              id="volunteerEmail"
              class="form-control"
              formControlName="email"
              [ngClass]="{'is-invalid': volunteerForm.get('email')?.invalid && volunteerForm.get('email')?.touched}"
            />
            <div *ngIf="volunteerForm.get('email')?.invalid && volunteerForm.get('email')?.touched" class="text-danger">
              {{ volunteerForm.get('email')?.errors?.['required'] ? 'Emailul este obligatoriu.' : (volunteerForm.get('email')?.errors?.['email'] ? 'Formatul email-ului este invalid.' : '') }}
            </div>
        </div>  
  
        <div class="mb-3">
          <label for="volunteerPhone" class="form-label">Telefon</label>
          <input
            type="tel"
            id="volunteerPhone"
            class="form-control"
            formControlName="phone"
            [ngClass]="{'is-invalid': volunteerForm.get('phone')?.invalid && volunteerForm.get('phone')?.touched}"
          />
          <div *ngIf="volunteerForm.get('phone')?.invalid && volunteerForm.get('phone')?.touched" class="text-danger">
            Telefonul este obligatoriu și trebuie să conțină doar cifre.
          </div>
        </div>
  
        <div class="mb-3">
          <label for="volunteerCity" class="form-label">Oraș</label>
          <input
            type="text"
            id="volunteerCity"
            class="form-control"
            formControlName="city"
            [ngClass]="{'is-invalid': volunteerForm.get('city')?.invalid && volunteerForm.get('city')?.touched}"
          />
          <div *ngIf="volunteerForm.get('city')?.invalid && volunteerForm.get('city')?.touched" class="text-danger">
            Orașul este obligatoriu.
          </div>
        </div>
  
        <div class="mb-3">
          <label for="volunteerStatus" class="form-label">Status</label>
          <input
            type="text"
            id="volunteerStatus"
            class="form-control"
            formControlName="status"
            [ngClass]="{'is-invalid': volunteerForm.get('status')?.invalid && volunteerForm.get('status')?.touched}"
          />
          <div *ngIf="volunteerForm.get('status')?.invalid && volunteerForm.get('status')?.touched" class="text-danger">
            Statusul este obligatoriu.
          </div>
        </div>
  
        <div class="mb-3">
          <label for="volunteerOcupatie" class="form-label">Ocupatie</label>
          <input
            type="text"
            id="volunteerOcupatie"
            class="form-control"
            formControlName="ocupation"
          />
        </div>
  
        <div class="mb-3">
          <label for="volunteerImage" class="form-label">Imagine</label>
          <input
            type="file"
            id="volunteerImage"
            class="form-control"
            (change)="onFileSelected($event)"
            accept="image/*"
          />
        </div>
        <div *ngIf="imagePreview" class="mb-3">
          <img [src]="imagePreview" alt="Preview" class="img-fluid" style="max-width: 50%; height: auto;" />
          <br />
          <button type="button" class="btn btn-danger mt-2" (click)="onRemoveImage()">Șterge Imaginea</button>
        </div>
  
        <div class="mb-3">
          <label for="volunteerJoinedDate" class="form-label">Data Aderării</label>
          <input
            type="date"
            id="volunteerJoinedDate"
            class="form-control"
            formControlName="joinedDate"
            [ngClass]="{'is-invalid': volunteerForm.get('joinedDate')?.invalid && volunteerForm.get('joinedDate')?.touched}"
          />
          <div *ngIf="volunteerForm.get('joinedDate')?.invalid && volunteerForm.get('joinedDate')?.touched" class="text-danger">
            Data aderării este obligatorie.
          </div>
        </div>
  
        <button type="submit" class="btn btn-primary" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Adaugă Voluntar
        </button>
      </form>
    </div>
  </div>  