@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    font-family: 'DM Sans', sans-serif;
}

body, html {
    scroll-behavior: smooth;
}

.jumbotron {
    background-color: #038ED1; 
    background-image: url('../../../assets/heroBg.jpg'); 
    background-size: cover;     
    background-position: center;
    color: white;
}

.nav-pills {
    background-color: #038ED1;
    --bs-nav-link-color: var(--bs-white); 
    --bs-nav-pills-link-active-color: #038ED1; 
    --bs-nav-pills-link-active-bg: var(--bs-white); 
    width: 80%; 
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.card-title {
    margin-bottom: 10px;
    font-size: 1.7rem;
}

.card-text {
    margin-bottom: 10px;
}

.card-body .mt-auto {
    margin-top: auto;
}
