@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal; /* Specify weight if known */
    src: url('../../../assets/Inter/static/Inter_24pt-Bold.ttf') format('truetype');
}

/* Fade-in Animation */
.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.inter {
    font-family: 'Inter', sans-serif;
    letter-spacing: -3px;
}

.underline-container {
    position: relative;
    display: inline-block;
}

.underline-img {
    position: absolute;
    bottom: -10px; 
    left: 50%; 
    transform: translateX(-50%) translateY(50%);
    width: 100%;
    z-index: -1;
    color: #038ED1;
}

.spark-img {
    position: absolute;
    width: 40px;
    margin-top: -5px;
}

@media screen and (max-width: 768px) {
    .spark-img {
        width: 30px;
    }
}

.logo-wrapper {
    display: inline-block;
    padding: 10px; /* Adjust padding as needed */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Border to match the image border */
    border-radius: 100px; /* Same border radius as the image */
    background-color: white; /* Match this to the background color if needed */
}

.logo-img {
    width: 80px;
    border-radius: 100px;
}

.card-title {
    font-family: 'Inter', sans-serif;
    letter-spacing: -1px;
    font-size: 20px;
}

.section-divider {
    border: none;
    height: 2px; /* Thickness of the line */
    background-color: #038ED1; /* Color of the line */
    margin: 30px 0; /* Spacing above and below the line */
}

.text-primary {
    color: #038ED1 !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255); /* White background with slight transparency */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* High z-index to ensure it covers all other content */
  }
  
  /* Ensure spinner size */
  mat-spinner {
    width: 100px;
    height: 100px;
  }