<app-web-navbar></app-web-navbar>

<div class="container-fluid my-5">
    <div class="container">
        <div class="jumbotron text-center my-5 fade-in" style="background-color: #038ED1; padding: 50px; color: white;">
            <h1 class="display-4">Membri</h1>
            <p class="lead" style="font-size: 15px;">Membrii ASMV aduc cea mai semnificativă valoare asociației noastre!</p>
        </div>
    </div>

    <div class="container">
        <h1 style="color: #038ED1; font-weight: bold;"> Adunarea Generală / Membrii Fondatori </h1>
        <div class="row">

        </div>
    </div>

    <div class="container">
        <h1 style="color: #038ED1; font-weight: bold;"> Consiliu Directorial </h1>
        <div class="row">
            <div *ngFor="let member of membersActive" class="col-md-4 col-xs-12 mb-4 fade-in">
                <img [src]="member" class="img-fluid" alt="Active Member">
            </div>
        </div>
    </div>

    <div class="container">
        <h1 style="color: #038ED1; font-weight: bold;"> Mebrii Voluntari </h1>
        <div class="row">
            <div *ngFor="let member of memberVolunteers" class="col-md-4 col-xs-12 mb-4 fade-in">
                <img [src]="member" class="img-fluid" alt="Volunteer Member">
            </div>
        </div>
    </div>
</div>

<app-web-footer></app-web-footer>