<app-web-navbar></app-web-navbar>

<div class="container">
  <div class="container text-center my-5">
    <div class="alert alert-info py-4" role="alert">
        <h3 class="font-weight-bold text-primary mb-3">
            ! Pagina de aplicare ca voluntar este temporar indisponibilă!
        </h3>
        <p class="lead">
            Ne cerem scuze pentru inconvenient! Pagina de aplicare ca voluntar nu este accesibilă în acest moment, dar lucrăm pentru a o face disponibilă cât mai curând posibil. Până atunci, dacă sunteți interesat să deveniți voluntar, vă rugăm să ne contactați la adresa de email <a href="mailto:asmv.ct@gmail.com">asmv.ct&#64;gmail.com</a>.
        </p>
    </div>
</div>

<div class="row justify-content-center gy-4">
    <!-- Secțiunea cu textul -->
    <div class="col-md-5 py-4 px-3">
      <h1 class="inter">
        <b>Completează formularul acesta și hai să faci parte din cea mai cool asociație!</b>
      </h1>
      <p style="margin-top: 20px; margin-bottom: 20px; color: grey;">
        🌟 Înscrie-te pentru a Face Diferența! 🌟
        <br /><br/>

        Suntem încântați să te avem alături în misiunea noastră de a aduce schimbări pozitive în comunitate! Pentru a deveni parte din echipa noastră de voluntari, te rugăm să completezi formularul de mai jos.
        <br/><br/>
        🔹 Pasul 1: Completează toate câmpurile din formularul alăturat. Asigură-te că oferi toate informațiile necesare pentru a putea să te cunoaștem mai bine.
        <br/><br/>
        🔹 Pasul 2: Trimite formularul completat. Imediat ce primim datele tale, echipa noastră va începe procesul de verificare.
        <br/><br/>
        🔹 Pasul 3: Te vom contacta pentru a discuta detalii suplimentare și pentru a-ți oferi toate informațiile necesare despre cum poți începe aventura alături de noi!
        <br/><br/>
        Împreună, putem face lucruri minunate! Așteptăm cu nerăbdare să te cunoaștem și să lucrăm împreună pentru a face o diferență reală.
        <br/><br/>
        Mulțumim pentru implicarea ta și pentru dorința de a contribui la un viitor mai bun!
      </p>
    </div>

    <!-- Secțiunea cu formularul -->
    <div class="col-md-5 py-4 px-3 shadow" id="colForm">
      <h1 class="inter" style="margin-top: 50px;"> <b>Hai în echipă</b></h1>
      <span> Formular de înscriere online</span>
      <form (ngSubmit)="becomeVolunteerPost()" style="margin-top: 30px;">
        <div class="row mb-3">
          <div class="col">
            <label>Nume</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="becomeVolunteer.fullname" />
          </div>
        </div>
        <div class="mb-3">
          <label>Email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="becomeVolunteer.email" />
        </div>
        <div class="mb-3">
          <label>Facultate</label>
          <input type="text" class="form-control" name="faculty" [(ngModel)]="becomeVolunteer.faculty" />
        </div>
        <div class="mb-3">
          <label>Număr Telefon</label>
          <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="becomeVolunteer.phone" />
        </div>
        <div class="mb-3">
          <label>De ce vrei să fii voluntar?</label>
          <textarea rows="3" class="form-control" name="reason" [(ngModel)]="becomeVolunteer.reason"></textarea>
        </div>
        <button type="submit" class="btn" [ngClass]="{'btn-success': formSent, 'btn-primary': !formSent}" style="width: 100%; height: 50px; background-color: white; color: #038ED1">
          {{ formSent ? 'Trimis' : 'Trimite' }}
          <svg style="color: #038ED1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
            <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
          </svg>
        </button>
      </form>
    </div>
  </div>
</div>

<app-web-footer></app-web-footer>
