@import "bootstrap-icons/font/bootstrap-icons.css";

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../../../assets/DM_Sans/static/DMSans_24pt-Medium.ttf') format('ttf'),
         url('/assets/fonts/DM-Sans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: url('../../../assets/Inter/static/Inter_24pt-Bold.ttf') format('ttf');
}

.inter {
    font-family: 'Inter', sans-serif;
}

* {
    font-family: 'DM Sans', sans-serif;
}

body, html {
    scroll-behavior: smooth;
}

#colForm {
    background-color: #038ED1;
    margin: 50px 20px;
    color: white;
    border-radius: 30px;
    padding: 30px;
    transform: rotate(-5deg);
    width: 100%;
    max-width: 500px; 
}

#colForm .btn {
    color: #038ED1 !important; 
    background-color: white !important;
}

@media screen and (max-width: 768px) {
    #colForm {
        transform: rotate(-5deg);
        padding: 20px;
        margin: 20px 10px;
        width: 90%; 
        max-width: 400px; 
        font-size: 0.9em; 
    }
}
