@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    font-family: 'DM Sans', sans-serif;
}

body, html {
    scroll-behavior: smooth;
}

#colForm {
    background-color: #038ED1;
    margin: 50px 20px;
    color: white;
    border-radius: 30px;
    padding: 30px;
    transform: rotate(-5deg);
    width: 100%;
    max-width: 500px; /* Max width for larger screens */
}

@media screen and (max-width: 768px) {
    #colForm {
        transform: rotate(-5deg);
        padding: 20px;
        margin: 20px 10px;
        width: 90%; /* Adjust width for smaller screens */
        max-width: 400px; /* Max width for smaller screens */
        font-size: 0.9em; /* Adjust font size for smaller screens */
    }
}
