@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../../../assets/DM_Sans/static/DMSans_24pt-Medium.ttf') format('ttf'),
         url('/assets/fonts/DM-Sans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../../../assets/Inter/static/Inter_24pt-Bold.ttf') format('ttf')
}

.inter {
    font-family: 'Inter', sans-serif;
}

* {
    font-family: 'DM Sans', sans-serif;
}
.footer {
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    width: 100%; /* Ensure it's not being overridden */
    box-sizing: border-box; /* Ensures padding and borders are included in the width */
}

@media (max-width: 768px) {
    .footer {
        width: 100%; /* Reiterate width settings for mobile */
    }
}

:host ::ng-deep .footer {
    width: 100%;
}
