<div class="footer" style="background-color: #0392D6; display: flex; justify-content: center; align-items: center; min-height: 500px; padding: 20px 10%; box-sizing: border-box">
    <div class='footer' style="color: white; width: 100%; max-width: 1500px">
        <div class="row align-items-start">
            <div class="col-md-6 col-sm-12">
                <div class='footer-logo' style="text-align: left;">
                    <img src="../../../assets/logo.png" alt="" style="width: 100%; max-width: 370px; display: block; margin-left: 0; margin-bottom: 20px;" />
                    <p style="font-size: 14px; max-width: 450px;">
                        Bun venit în comunitatea noastră de viitori medici și nu numai! Ne concentrăm pe educație, inovare și conexiuni în domeniul medical. Alătură-te nouă pentru a-ți dezvolta abilitățile și pentru a contribui la construirea unui viitor mai sănătos și mai strălucitor în domeniul sănătății!
                    </p>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class='footer-links'>
                    <h5 class="inter" style="letter-spacing: -1px;"><b>Despre Asociatie</b></h5>
                    <hr />
                    <ul class='list-unstyled fs-6'>
                        <li class="mb-2"><a style="text-decoration: none; color: white; font-size: 13px; font-family: 'Inter', sans-serif;" class="inter" href="/">Despre</a></li>
                        <li class="mb-2"><a style="text-decoration: none; color: white; font-size: 13px; font-family: 'Inter', sans-serif;" class="inter" href="/proiecte">Proiecte</a></li>
                        <li class="mb-2"><a style="text-decoration: none; color: white; font-size: 13px; font-family: 'Inter', sans-serif;" class="inter" href="/haiInEchipa"> Hai in Echipă!</a></li>
                        <li class="mb-2"><a style="text-decoration: none; color: white; font-size: 13px; font-family: 'Inter', sans-serif;" class="inter" href="/doneaza"> Donează!</a></li>
                        <li class="mb-2"><a style="text-decoration: none; color: white; font-size: 13px; font-family: 'Inter', sans-serif;" class="inter" href="/politica-de-confidentialitate">Politica GDPR</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class='footer-links'>
                    <h5 class="inter" style="letter-spacing: -1px;"><b>Cont Bancar</b></h5>
                    <hr />
                    <ul class='list-unstyled fs-6'>
                        <li class="mb-2 inter" style="font-size: 13px;"><b>Banca:</b> LibraBank</li>
                        <li class="mb-2 inter" style="font-size: 11px;"><b>IBAN:</b> RO61BREL0002003042990100</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class='footer-links'>
                    <h5 class="inter" style="letter-spacing: -1px;"><b>Contact</b></h5>
                    <hr />
                    <ul class='list-unstyled fs-6'>
                        <li class="mb-2" style="font-size: 13px;"><b>Email:</b> {{email}}</li>
                        <li class="mb-2" style="font-size: 13px;"><a class="text-decoration-none text-white inter" href="https://www.facebook.com/asmv.ong"><b>Facebook</b></a></li>
                        <li class="mb-2" style="font-size: 13px;"><a class="text-decoration-none text-white inter" href="https://www.instagram.com/asmv.ct/"><b>Instagram</b></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr />
        <p style="font-size: 13px;" class='footer-text'>Copyright &copy; {{ getCurrentYear() }} ASMV. Toate drepturile rezervate.</p>
    </div>
</div>
