.example-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

mat-sidenav {
  width: 220px; /* Adjusted width */
  background-color: #ffffff; /* White background */
  color: #2c3e50; /* Dark text */
}

mat-sidenav-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  position: sticky;
  top: 0;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* White background */
  color: #2c3e50; /* Dark text */
  height: 64px; /* Adjusted height for better alignment */
  border-bottom: solid 1px #e0e0e0;
  z-index: 1000; /* Ensure toolbar stays above other content */
}

mat-toolbar .spacer {
  flex-grow: 1;
}

.user-menu {
  display: flex;
  align-items: center;
}

button.mat-icon-button {
  border: none;
  outline: none;
  box-shadow: none;
  display: flex;
  align-items: center; /* Center the icon vertically */
  justify-content: center; /* Center the icon horizontally */
  height: 100%; /* Ensure the button takes the full height of the toolbar */
}

button.mat-icon-button:hover {
  background: transparent;
}

.mat-list-item {
  display: flex;
  align-items: center;
  padding: 10px 16px; /* Adjusted padding */
  color: inherit; /* Inherit text color */
  text-decoration: none;
}

.mat-list-item mat-icon {
  font-size: 20px; /* Icon size */
  margin-right: 10px; /* Space between icon and text */
  vertical-align: middle; /* Align icon to middle */
}

.mat-list-item span {
  line-height: 1; /* Ensure correct vertical alignment */
  display: flex;
  align-items: center; /* Center text vertically */
}

.mat-list-item:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Hover background with dark shade */
}

.tab-active {
  background-color: rgba(0, 0, 0, 0.2); /* Active tab background with dark shade */
}

.mat-list-item-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: start; /* Ensure content starts from the left */
}

.content {
  padding: 16px; /* Padding for the content area */
  flex-grow: 1; /* Ensure content area takes available space */
}

.position-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
